@media(max-width:1267px) {
    .container {
        max-width: 1000px;
    }

    .block {
        overflow-x: scroll;
        text-align: center;
        margin-left: 5%;
        width: 90%;
    }
}



@media (min-width: 650px) and (max-width:1044px) {
    .coluna_head {
        width: 95%;
        margin: 0 auto;
        flex-direction: column;
        margin-top: 70px;
        gap: 100px;


    }

    .container {
        max-width: 800px;
    }

    .cafeform {
        width: 90%;

    }

    .coluna_head h1 {
        font-size: 3.2em;
        line-height: 2.2em;
    }

    header nav {
        display: none;
    }

    #burguer {
        display: block;
    }

}


@media (min-width: 672px) and (max-width:854px) {
    .coluna_head {
        width: 95%;
        margin: 0 auto;
        flex-direction: column;
        margin-top: 70px;
        gap: 100px;


    }

    .container {
        max-width: 590px;
    }

    .cafeform {
        width: 90%;

    }

    .coluna_head h1 {
        font-size: 3.2em;
        line-height: 2.2em;
    }

    header nav {
        display: none;
    }

    #burguer {
        display: block;
    }

}

@media (max-width:672px) {
    .coluna_head {
        width: 95%;
        margin: 0 auto;
        flex-direction: column;
        margin-top: 70px;
        gap: 100px;

    }

    .container {
        max-width: 500px;
    }

    .cafeform {
        width: 90%;
        min-width: unset;
        padding: 40px 5%;
    }

    .coluna_head h1 {
        font-size: 3.2em;
        line-height: 2.2em;
    }

    header nav {
        display: none;
    }

    #burguer {
        display: block;
    }

    .coluna-historia p {
        padding: 0;
    }

    footer {
        position: relative;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



}

@media (max-width:854px) {
    .flex-historia {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .xicara-img {
        width: 100%;
    }

    .coluna-historia {
        margin: 0 auto;
        vertical-align: center;
    }

    .flex-img {
        display: flex;
        justify-content: center;
        padding: 5%;
        margin-top: 30px;
    }

    .coluna-historia {
        flex: 50%;
        max-width: 100%;


    }

    .fundotransparente {
        padding: 40px 10px;





    }

    .c-card {
        margin: 0.5rem;
        height: 525px;
    }

    .c-card img {
        height: 60%;
    }


}

@media (min-height:280px) and (max-width:355px) {
    .c-card img {
        height: 45%;
    }
}


@media (min-width: 601px) {
    .footer-content {
        display: flex;
        justify-content: space-between;
    }
}