* {
    margin: 0;
    padding: 0;
    
}


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;

}

header{
    background-color: antiquewhite;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: left;
    color: white;
    min-height: 100vh;
    
}

header img{
    vertical-align: middle;
}

header a{
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    color: white;
}

header span{
    font-size: x-large;
    padding-left: 10px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

h1{
    display: inline;
}

textarea{
    text-indent: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    border: none;
    width: 100%;
}




.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}




.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: solid white;
    align-items: flex-end;
}
.coluna_head{
    display: flex;
    gap: 200px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.coluna_head h1{
    font-size: 80px;
    line-height: 1.3em;
}

.coluna_head h2{
   margin-top: 1em;
   font-size: 2em;
   margin-bottom: 2em;
   
}

.cafeform{
    min-width: 320px;
    padding: 40px;
    background-color: rgb(230, 211, 198);
    color: gray;
    border-radius: 0.25em;
    
}

.cafeform input, .cafeform select{
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    text-indent: 1em;
    
}

#burguer{
    display: none;
}


.cafeform li{
   list-style: none;
   padding: 10px;
}

.botao{
    padding: 14px 40px;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    border: none;
    background-color: #e59d03;
    color: white;
}





nav ul.funciona {
    list-style: none;
    display: flex;
    
}

nav li{
    padding-left: 10px;
    font-size: 1.2em;
    border-right: solid 1px;
    padding-right:10px ;
}

.flex-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.flex-historia{
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.xicara-img{
    width: 85%;
}

.coluna-historia{
    flex:50%;
    max-width: 50%;
    
 
}

.coluna-historia h2{
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    color: white;
    
}

.coluna-historia p{
    text-align: center;
    margin: 8% auto;
    color: white;
    padding: 0px 31px;
}

.botao-flx-historia{
    display: flex;
    justify-content: center;
}
.flex-img{
    padding-left: 60px;
}

.background-cafe{
    background-image: url("coffee-shop.jpg");
    background-size: cover;
    background-position: top;
}

h2.titulo-cafe{
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 1.75rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

span.titulo-cafe{
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.c-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.c-card {
    margin: 2rem;
    color: rgb(0, 0, 0);
    box-shadow: rgb(0 0 0) 0px 0.4px 2px;
    text-align: center;
    max-width: 393px;
    height: 509px;
    width: 100%;
    border-radius: 1rem;
    background-color: #ffedda;
}

.c-card img {
    border-radius: 1rem 1rem 0rem 0rem;
    width: 100%;
    object-fit: cover;
    height: 60%;
}

.c-card h2 {
    padding: .5rem;
    font-size: 1.6rem;
}

.c-card p {
    text-align: center;
    padding: 0.5rem;
    font-size: 1em;
    font-style: oblique;
}


.fundotransparente{
    background-color: rgba(254, 254, 254, 0.201);
    border-radius: 20px;
    padding: 100px 0;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid white;
}

.titulo-cafe::after{
        content: "";
        display: block;
        width: 200px;
        margin: 0 auto;
        height: 1px;
        background-color: #8f3d03;
}