* {
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header{
    background-color: antiquewhite;
    height: 600px;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: left;
    color: white;
}

header img{
    border-radius: 50%;
    vertical-align: middle;
}

header a{
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    color: white;
    background-color: re;

}

h1{
    display: inline;
    font-size: x-large;
    padding-left: 10px;
}


.container {
    width: 100%;
    max-width: 1000px;
    min-width: 700px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: solid white;
    align-items: flex-end;
    font-size: 1.1em;
}

.nav-a{
    
}




nav ul.funciona {
    list-style: none;
    display: flex;
    
}

nav li{
    padding-left: 20px;
    padding: px;
}
