* {
    margin: 0;
    padding: 0;
    
}


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header{
    background-color: antiquewhite;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: left;
    color: white;
    min-height: 100vh;
    
}

header img{
    vertical-align: middle;
}

header a{
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    color: white;
}

header span{
    font-size: x-large;
    padding-left: 10px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

h1{
    display: inline;
}

textarea{
    text-indent: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    border: none;
    width: 100%;
}




.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}




.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: solid white;
    align-items: flex-end;
}
.coluna_head{
    display: flex;
    gap: 200px;
    margin-top: 100px;
}

.coluna_head h1{
    font-size: 80px;
    line-height: 1.3em;
}

.coluna_head h2{
   margin-top: 1em;
   font-size: 2em;
   margin-bottom: 2em;
   
}

.cafeform{
    min-width: 320px;
    padding: 40px;
    background-color: rgb(230, 211, 198);
    color: gray;
    border-radius: 0.25em;
    
}

.cafeform input, .cafeform select{
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    text-indent: 1em;
    
}

#burguer{
    display: none;
}


.cafeform li{
   list-style: none;
   padding: 10px;
}

.botao{
    padding: 14px 40px;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    border: none;
    background-color: #e59d03;
    color: white;
}





nav ul.funciona {
    list-style: none;
    display: flex;
    
}

nav li{
    padding-left: 10px;
    font-size: 1.2em;
    border-right: solid 1px;
    padding-right:10px ;
}

.flex-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

