.Noticia {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 100%;
    border: 2px solid purple;
    color: black;
    padding: 20px;

    &__titulo {
        color: purple;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__subtitulo {
        font-size: 16px;
    }

}